* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(31, 31, 31);
}

:root {
  font-size: 14px;
}

.bottom {
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

p {
  font-size: 1.4rem;
}

select,
#query-image {
  font-size: 1.2rem;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
  background-color: rgb(230, 230, 230);
}

img {
  width: 100%;
}

select {
  padding: 5px 15px;
}

#slideshow {
  padding: 20px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  gap: 20px;
}

#query-image {
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(111, 156, 240);
  color: rgb(240, 240, 240);
}

#query-image:hover {
  background-color: rgb(92, 136, 216);
}

/* ANIMATIONS */

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
