* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(31, 31, 31);
}

:root {
  font-size: 14px;
}

.bottom {
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

p,
select,
#query-image {
  font-size: 1.4rem;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  background-color: rgb(230, 230, 230);
}

select {
  padding: 5px 15px;
}

img {
  width: 100%;
}

img:hover {
  -webkit-animation: slide-top 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both
    alternate;
  animation: slide-top 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both alternate;
}

#slideshow {
  padding: 20px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  gap: 20px;
}

#query-image {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(111, 156, 240);
  color: rgb(240, 240, 240);
}

#query-image:hover {
  background-color: rgb(92, 136, 216);
}

/* ANIMATIONS */

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@-webkit-keyframes slide-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes slide-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
